.router-link-active{
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.router-link-exact-active{
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

/* --------------------------------------------------
 :: BASIC OPERATIONS EXERCISE
 -------------------------------------------------- */

.basic-operations p{
	text-align: right;
}
.basic-operations p span:first-child{
	float: left;
	font-size: 2rem;
	padding:0 0 0 .5rem!important;
}
.basic-operations p span{
	margin-right:5px;
}
.basic-operations p:last-child{
	margin-bottom: 0;
}

/* --------------------------------------------------
 :: 2: MISSING NUMBERS
 -------------------------------------------------- */
 .missing-numbers p ul li ul li {
	margin: 0 2rem 1rem 0;
	padding: 1rem 1rem .75rem 1rem;
	background: rgba(0, 0, 0, .04);
	border-radius: .5rem;
}
.missing-numbers p ul li ul li input {
	max-width: 4rem;
	margin:0 .5rem .25rem 0;
	text-align: center;
}


/* --------------------------------------------------
 :: 3: ORDER NUMBERS EXERCISE
 -------------------------------------------------- */
.order-numbers p ul li ul {
    list-style: none;
    padding: 0 2.5rem 0 1rem;
}

.order-numbers p ul li ul li {
    margin: .5rem 0;
}

.order-numbers p ul li ul li input {
    width: 5rem;
    display: inline-flex;
    text-align: center;
}

.order-numbers p ul li ul li input:first-child {
    margin-right: .5rem;
}

/* --------------------------------------------------
 :: 4: WRITING NUMBERS
 -------------------------------------------------- */
 .writing-numbers p ul li {
    margin: 0 2rem 1rem 0;
    padding: 1rem;
    background: rgba(0, 0, 0, .04);
    border-radius: .5rem;
   }
   
   .writing-numbers p div {
    display: flex;
    align-content: space-between;
    align-items: center;
   }
   
   .writing-numbers p div p {
    margin-bottom: 0;
    display: inline-block;
   }
   
   .writing-numbers p div p:first-of-type {
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
   }
   
   .writing-numbers p div input {
    width: 5rem;
    text-align: right;
   }
   
   .writing-numbers p ul.form-group {
    margin-bottom: 0;
   }
   
   .writing-numbers p ul.form-group li {
    padding: 0;
    margin: 0 0 .5rem 0;
    background: none;
   }
   
   .writing-numbers p ul.form-group li:last-of-type {
    margin-bottom: 0;
   }

/* --------------------------------------------------
 :: MONEY COUNTING EXERCISE
 -------------------------------------------------- */
.money-counting p ul li{ margin:0 2rem 1rem 0; padding:1rem; border-radius:.5rem; background:rgba(0, 0, 0, .04); }
.money-counting p ul li input{ display:inline-block; max-width:5rem; margin:1rem 0; }
.money-choice .custom-control{ margin-bottom:1rem; }
.money-choice.form-group label img{ margin-right:1rem; }
.money-choice.form-group li label img:last-child{ margin-right:0; }
.counting-money{ display:inline-flex; flex-direction:row; margin:0; padding:0; background:#fff; flex-wrap:wrap; }
.counting-money li{ margin:0 !important; list-style:none; background:none !important; }
.coin{ width:8rem; }
.note{ width:15rem; }

/* --------------------------------------------------
 :: ROMAN NUMBERS
 -------------------------------------------------- */
.roman-numbers p ul li{
    margin:0 2rem 1rem 0;
    padding:1rem;
    background: rgba(0,0,0,.04);
    border-radius: .5rem;
}
.roman-numbers p ul li div{
    display: inline-flex;
    align-items: center;
} 
.roman-numbers p ul li div span:first-of-type{
    width:5rem;
    text-align: right;
}
.roman-numbers p ul li div span:nth-of-type(2){
    margin:0 .5rem;
}
.roman-numbers p ul li input{
    width:6rem;
    font-weight: bold;
}

/* --------------------------------------------------
 :: 5. ROUNDING NUMBERS EXERCISE
 -------------------------------------------------- */
.rounding p ul li{
	margin:0 2rem 1rem 0;
	padding:1rem;
	background: rgba(0,0,0,.04);
	border-radius: .5rem;
}
.rounding p ul li span{
	font-size:1.5rem;
}
.rounding p ul li input{
	max-width:4.5rem;
	display: inline-flex;
}

/* --------------------------------------------------
 :: HCF and LCM
 -------------------------------------------------- */
 .HCF p, .LCM p {margin:0 2rem 1rem 0;padding:1rem;border-radius:.5rem;background:rgba(0, 0, 0, .04);}
 .HCF p,.LCM p{text-align:right;}
 .HCF p span,.LCM p  span{display:inline-block;width:2rem;margin-right:1rem;}
 .HCF p:last-child span,.LCM p:last-child span{margin-right:0 !important;}
 .HCF p span.line,.LCM p span.line{width:5rem;margin-right:0;border-bottom:1px solid #000;}
 .LCM p li p span.line{width:12rem;}
 .HCF p input,.LCM p input{display:inline-flex;width:5rem;margin-left:.5rem;}

 /* --------------------------------------------------
 :: TIME 
 -------------------------------------------------- */
.time li{ margin:0 2rem 1rem 0; padding:1rem; border-radius:.5rem; background:rgba(0,0,0,.04); }
.time li div{ display:flex; align-items:center; }
.time li table{ float:right; width:auto; margin:0; }
.time th{ text-align:center; }
.time td,.time td input{ text-align:right; }
.time td input{ width:4rem; }
.time li span{ font-size:2.5rem; float:left; padding:0 .5rem; }
.time .solution{ display:block; margin:.5rem 0; }
.time .solution table{ float:none; width:100%; }

 
/* --------------------------------------------------
  :: MONEY CONVERSIONS
-------------------------------------------------- */
.money-conversion ul li{ margin:0 2rem 1rem 0; padding:1rem; border-radius:.5rem; background:rgba(0, 0, 0, .04); }
.money-conversion ul li input{ display:inline-flex; width:4rem; margin-left:1rem; }
.money-conversion li .input-group{ display:inline-flex; }
.money-conversion li .input-group input{ display:inline-flex; width:4rem; }


.q_header {
    border-bottom: 1px solid #000;
}
.lead {
    font-weight: 600;
}